body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcyan; /* Light background color */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .weather-table {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #e0e0e0; /* Light gray background color for table header */
    font-weight: bold;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background color for even rows */
  }
  
  table tbody tr:hover {
    background-color: #f0f0f0; /* Light gray background color for hovered rows */
  }
  